.navbar {
    background-color: black !important;
    opacity: .9;
}
.logo {
    background-color: white;
}
.white-text {
    color: white !important;
}
.center {
    text-align: center;
}
.title-font {
    font-family:playfair display;
}

.title-img {
    background-image: url(img/fptitle-image.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top:500px;
    padding-bottom:500px;
}
.size {
    width: 100%;
    height: 75%;
}
.caption {
    color: gray;
    text-align: center;
    font-size:13px;
}
a-scene {
    width: 1000px;
    height: 750px;
}
