.navbar {
    background-color: black !important;
}
.white-text {
    color: white !important;
}
.center {
    text-align: center;
}
.title-font {
    font-family:playfair display;
}
.whiteblue {
    color: #F1F7F9 !important;
}
.lightgrayblue {
    color: #749DC8 !important;
}
.blue {
    color: #0A61C9 !important;
}
.darkishblue {
    color: #064089 !important;
}
.darkblue {
    background-color: #07326A !important;
}
.title-img {
    background-image: url(prep/img/fptitle-image.jpeg);
    background-attachment: fixed;
    background-size: cover;
    padding-top:500px;
    padding-bottom:500px;
}
